# Specify filepatterns you want git to ignore.
ad-hoc/*
exclude/*
carbon/*
notebooks/*
src/dev/*
*cython_functions.c
*.so
*cython_functions.html
*gurobi.log

scenario_creation.c
scenario_creation.html

src/configs/*
!*/msi_base_config.yml
errors.txt
!example.json
!msi_template.json
!optim_example.json

*.pbs

*.code-workspace
.vscode*
*.ipynb
.ipynb_checkpoints
*__pycache__
*.egg-info

*_old.py
ad-hoc/trimmed_legend.pdf
*.DS_Store
.idea/*

src/scripts/tmp*
src/tmp*
workspace
*.log
postprocess_errors.txt

src/tests/Gambia/*